<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="csrf-param" content="authenticity_token" />
		<meta name="csrf-token" content="<%= form_authenticity_token %>" />
		<%= stylesheet_link_tag :application %>
		<%= javascript_include_tag :application %>
		<title>Invoices</title>
	</head>
	<body>
		<%= yield %>
	</body>
</html>